In [1]:
import numpy as np
import netCDF4 as nc
import pandas as pd
import numpy.ma as ma

In [2]:
file_path='./qz_ty1_100p.nc'

In [3]:
ds=nc.Dataset(file_path)

In [4]:
ds

<class 'netCDF4._netCDF4.Dataset'>
root group (NETCDF4 data model, file format HDF5):
    Conventions: CF-1.6
    standard_name_vocabulary: CF-1.6
    featureType: trajectory
    history: Created 2019-03-22 16:30:39.491557
    source: Output from simulation with OpenDrift
    model_url: https://github.com/OpenDrift/opendrift
    opendrift_class: Leeway
    opendrift_module: opendrift.models.leeway
    readers: odict_keys(['E:\\project\\oilspill_rescue\\rescue\\data\\curr\\ecs_curr_20160722_opdr.nc', 'E:\\project\\oilspill_rescue\\rescue\\data\\wind\\nmefc_2016072112_opdr.nc', 'basemap_landmask'])
    time_coverage_start: 2016-07-21 21:00:00
    time_step_calculation: 0:30:00
    time_step_output: 0:30:00
    config_seed:object_type: Person-in-water (PIW), unknown state (mean values)
    config_seed:jibeProbability: 0.04
    config_seed:ocean_only: True
    config_general:use_basemap_landmask: True
    config_general:basemap_resolution: h
    config_general:coastline_action: stranding
    config_general:time_step_minutes: 10
    config_general:time_step_output_minutes: 60
    config_drift:max_age_seconds: None
    config_drift:scheme: euler
    config_drift:stokes_drift: True
    config_drift:current_uncertainty: 0.0
    config_drift:current_uncertainty_uniform: 0.0
    config_drift:wind_uncertainty: 0.0
    config_drift:relative_wind: False
    config_drift:lift_to_seafloor: True
    config_drift:deactivate_north_of: None
    config_drift:deactivate_south_of: None
    config_drift:deactivate_east_of: None
    config_drift:deactivate_west_of: None
    config_drift:use_tabularised_stokes_drift: False
    config_drift:tabularised_stokes_drift_fetch: 25000
    opendrift_version: 1.0.6
    time_coverage_end: 2016-07-22 09:00:00
    geospatial_lat_min: 0.0
    geospatial_lat_max: 0.0
    geospatial_lat_units: degrees_north
    geospatial_lat_resolution: point
    geospatial_lon_min: 0.0
    geospatial_lon_max: 0.0
    geospatial_lon_units: degrees_east
    geospatial_lon_resolution: point
    runtime: 0:00:09.327774
    dimensions(sizes): trajectory(100), time(25)
    variables(dimensions): int32 trajectory(trajectory), float64 time(time), int32 status(trajectory,time), float32 age_seconds(trajectory,time), float32 lon(trajectory,time), float32 lat(trajectory,time), float32 z(trajectory,time), int16 objectType(trajectory,time), int16 orientation(trajectory,time), float32 jibeProbability(trajectory,time), float32 downwindSlope(trajectory,time), float32 crosswindSlope(trajectory,time), float32 downwindOffset(trajectory,time), float32 crosswindOffset(trajectory,time), float32 downwindEps(trajectory,time), float32 crosswindEps(trajectory,time), float32 x_wind(trajectory,time), float32 y_wind(trajectory,time), float32 x_sea_water_velocity(trajectory,time), float32 y_sea_water_velocity(trajectory,time), float32 land_binary_mask(trajectory,time)
    groups:

In [5]:
ds.variables.keys()

odict_keys(['trajectory', 'time', 'status', 'age_seconds', 'lon', 'lat', 'z', 'objectType', 'orientation', 'jibeProbability', 'downwindSlope', 'crosswindSlope', 'downwindOffset', 'crosswindOffset', 'downwindEps', 'crosswindEps', 'x_wind', 'y_wind', 'x_sea_water_velocity', 'y_sea_water_velocity', 'land_binary_mask'])

获取轨迹

In [25]:
len(ds['trajectory'][:])

100

In [26]:
ds['trajectory'][:]

masked_array(data=[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
                    12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
                    23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,
                    34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
                    45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
                    56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
                    67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
                    78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
                    89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99,
                   100],
             mask=False,
       fill_value=999999)

In [29]:
# 找到其中一个
ds['trajectory'][:][1]

2

In [27]:
len(ds['time'][:])

25

In [6]:
ds['time']

<class 'netCDF4._netCDF4.Variable'>
float64 time(time)
    units: seconds since 1970-01-01 00:00:00
    standard_name: time
    long_name: time
unlimited dimensions:
current shape = (25,)
filling on, default _FillValue of 9.969209968386869e+36 used

In [28]:
ds['time'][:]

masked_array(data=[1.4691348e+09, 1.4691366e+09, 1.4691384e+09,
                   1.4691402e+09, 1.4691420e+09, 1.4691438e+09,
                   1.4691456e+09, 1.4691474e+09, 1.4691492e+09,
                   1.4691510e+09, 1.4691528e+09, 1.4691546e+09,
                   1.4691564e+09, 1.4691582e+09, 1.4691600e+09,
                   1.4691618e+09, 1.4691636e+09, 1.4691654e+09,
                   1.4691672e+09, 1.4691690e+09, 1.4691708e+09,
                   1.4691726e+09, 1.4691744e+09, 1.4691762e+09,
                   1.4691780e+09],
             mask=False,
       fill_value=1e+20)

In [6]:
ds['lat']

<class 'netCDF4._netCDF4.Variable'>
float32 lat(trajectory, time)
    coordinates: lat lon time
    units: degrees_north
    standard_name: latitude
    long_name: latitude
unlimited dimensions:
current shape = (100, 25)
filling on, default _FillValue of 9.969209968386869e+36 used

In [7]:
ds['lon']

<class 'netCDF4._netCDF4.Variable'>
float32 lon(trajectory, time)
    coordinates: lat lon time
    units: degrees_east
    standard_name: longitude
    long_name: longitude
unlimited dimensions:
current shape = (100, 25)
filling on, default _FillValue of 9.969209968386869e+36 used

In [8]:
ds['x_wind']

<class 'netCDF4._netCDF4.Variable'>
float32 x_wind(trajectory, time)
    coordinates: lat lon time
unlimited dimensions:
current shape = (100, 25)
filling on, default _FillValue of 9.969209968386869e+36 used

---

In [31]:
ds['x_wind'][:].shape

(100, 25)

In [32]:
ds['x_wind'][:][0]

masked_array(data=[4.9943113 , 4.819668  , 4.643057  , 4.4523664 ,
                   4.2689314 , 4.0722084 , 3.8735173 , 3.636588  ,
                   3.4052265 , 2.9808044 , 2.5597134 , 2.3360996 ,
                   2.0964293 , 1.695421  , 1.2825478 , 1.0027671 ,
                   0.7237536 , 0.84759426, 0.97972023, 1.099313  ,
                   1.22127   , 1.1062148 , 0.98705584, 0.9541023 ,
                   0.9541023 ],
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [33]:
ds['x_wind'][0]

masked_array(data=[4.9943113 , 4.819668  , 4.643057  , 4.4523664 ,
                   4.2689314 , 4.0722084 , 3.8735173 , 3.636588  ,
                   3.4052265 , 2.9808044 , 2.5597134 , 2.3360996 ,
                   2.0964293 , 1.695421  , 1.2825478 , 1.0027671 ,
                   0.7237536 , 0.84759426, 0.97972023, 1.099313  ,
                   1.22127   , 1.1062148 , 0.98705584, 0.9541023 ,
                   0.9541023 ],
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [7]:
type(ds['x_wind'][:][0])

numpy.ma.core.MaskedArray

In [5]:
ds['status'][:]

masked_array(
  data=[[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]],
  mask=False,
  fill_value=999999)

In [9]:
ds['lat'][:]

masked_array(
  data=[[24.735289, 24.735617, 24.73707 , ..., 24.861162, 24.861761,
         24.86279 ],
        [24.735289, 24.733362, 24.732582, ..., 24.816586, 24.816639,
         24.81734 ],
        [24.735306, 24.737488, 24.739895, ..., 24.861301, 24.862146,
         24.863653],
        ...,
        [24.735304, 24.735275, 24.736374, ..., 24.846336, 24.846636,
         24.847513],
        [24.735285, 24.7345  , 24.734793, ..., 24.800596, 24.799423,
         24.798845],
        [24.735304, 24.733631, 24.733139, ..., 24.851328, 24.852661,
         24.854525]],
  mask=False,
  fill_value=1e+20,
  dtype=float32)

In [10]:
ds['lon'][:]

masked_array(
  data=[[118.9177  , 118.92442 , 118.93194 , ..., 119.060196, 119.06761 ,
         119.07646 ],
        [118.917694, 118.92318 , 118.92949 , ..., 119.044304, 119.051895,
         119.06089 ],
        [118.9177  , 118.92177 , 118.927155, ..., 119.00148 , 119.00466 ,
         119.00876 ],
        ...,
        [118.917694, 118.9231  , 118.92931 , ..., 119.031006, 119.03726 ,
         119.044815],
        [118.91771 , 118.91946 , 118.92205 , ..., 118.97067 , 118.97608 ,
         118.98284 ],
        [118.917694, 118.925995, 118.935104, ..., 119.08705 , 119.09725 ,
         119.109024]],
  mask=False,
  fill_value=1e+20,
  dtype=float32)

In [12]:
ds['time'][:][0]

1469134800.0

In [22]:
ds['x_wind'][:]

masked_array(
  data=[[4.9943113 , 4.819668  , 4.643057  , ..., 0.98705584, 0.9541023 ,
         0.9541023 ],
        [4.994295  , 4.822786  , 4.64817   , ..., 1.0875015 , 1.0371913 ,
         1.0371913 ],
        [4.994263  , 4.809621  , 4.627662  , ..., 1.0217285 , 0.98069644,
         0.98069644],
        ...,
        [4.994252  , 4.817853  , 4.639524  , ..., 1.032025  , 0.98337185,
         0.98337185],
        [4.994338  , 4.8123884 , 4.628939  , ..., 1.1794664 , 1.1307616 ,
         1.1307616 ],
        [4.994252  , 4.8278384 , 4.6578417 , ..., 1.0006    , 1.003469  ,
         1.003469  ]],
  mask=False,
  fill_value=1e+20,
  dtype=float32)

In [20]:
ds['x_wind'][:][0]

masked_array(data=[4.9943113 , 4.819668  , 4.643057  , 4.4523664 ,
                   4.2689314 , 4.0722084 , 3.8735173 , 3.636588  ,
                   3.4052265 , 2.9808044 , 2.5597134 , 2.3360996 ,
                   2.0964293 , 1.695421  , 1.2825478 , 1.0027671 ,
                   0.7237536 , 0.84759426, 0.97972023, 1.099313  ,
                   1.22127   , 1.1062148 , 0.98705584, 0.9541023 ,
                   0.9541023 ],
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [21]:
ds['x_wind'][:][1]

masked_array(data=[4.994295 , 4.822786 , 4.64817  , 4.4606676, 4.2798095,
                   4.090003 , 3.8988128, 3.6627917, 3.431748 , 3.0126443,
                   2.5912645, 2.376686 , 2.1493173, 1.7629353, 1.367547 ,
                   1.0965215, 0.8244733, 0.9346679, 1.0528136, 1.1598122,
                   1.2659687, 1.1801863, 1.0875015, 1.0371913, 1.0371913],
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [17]:
ds['x_wind'][1,1]

masked_array(data=4.822786,
             mask=False,
       fill_value=1e+20,
            dtype=float32)

In [6]:
# 尝试遍历两个维度
for temp in ds.dimensions.values():
    print(temp.name)
    print(temp)

trajectory
<class 'netCDF4._netCDF4.Dimension'>: name = 'trajectory', size = 100

time
<class 'netCDF4._netCDF4.Dimension'>: name = 'time', size = 25

In [7]:
for temp in ds.dimensions:
    print(temp)

trajectory
time

In [8]:
trajectory_len=ds.dimensions.values()

循环遍历读取数值

In [5]:
dict_dimensions={}
ds.dimensions.values()

odict_values([<class 'netCDF4._netCDF4.Dimension'>: name = 'trajectory', size = 100
, <class 'netCDF4._netCDF4.Dimension'>: name = 'time', size = 25
])

In [6]:
# 复制给一个字典
for index,temp in enumerate(ds.dimensions.values()):
    dict_dimensions[temp.name]=temp

In [7]:
dict_dimensions

{'trajectory': <class 'netCDF4._netCDF4.Dimension'>: name = 'trajectory', size = 100,
 'time': <class 'netCDF4._netCDF4.Dimension'>: name = 'time', size = 25}

获取100*25 矩阵的思路：
> 遍历读取每一个特征变量，然后每次遍历时将所有的特征变量根据下标进行读取，每次循环时都进行数据库写入操作

In [13]:
x_index=0
y_index=0
for trajectory_temp in range(dict_dimensions['trajectory'].size):
    x_index=x_index+1
    for time_temp in range(dict_dimensions['time'].size):
        y_index=y_index+1
#         print(f'trajectory_temp:{trajectory_temp}')
#         print(f'time_temp:{time_temp}')
print(x_index)   
print(y_index)

100
2500

In [14]:
ds['x_wind']

<class 'netCDF4._netCDF4.Variable'>
float32 x_wind(trajectory, time)
    coordinates: lat lon time
unlimited dimensions:
current shape = (100, 25)
filling on, default _FillValue of 9.969209968386869e+36 used

In [19]:
ds['x_wind'][:][2,4]

4.2267566

In [20]:
type(ds['trajectory'][:])

numpy.ma.core.MaskedArray

In [21]:
ds['trajectory'][:]

masked_array(data=[  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,
                    12,  13,  14,  15,  16,  17,  18,  19,  20,  21,  22,
                    23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,
                    34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
                    45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
                    56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
                    67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
                    78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
                    89,  90,  91,  92,  93,  94,  95,  96,  97,  98,  99,
                   100],
             mask=False,
       fill_value=999999,
            dtype=int32)

In [36]:
a=ds['lat'][:]
ma.masked_where(a==24.735289,a)

masked_array(
  data=[[--, 24.73561668395996, 24.737070083618164, ...,
         24.861162185668945, 24.86176109313965, 24.862789154052734],
        [--, 24.733362197875977, 24.732582092285156, ...,
         24.816585540771484, 24.816638946533203, 24.817340850830078],
        [24.735305786132812, 24.73748779296875, 24.73989486694336, ...,
         24.86130142211914, 24.862146377563477, 24.8636531829834],
        ...,
        [24.73530387878418, 24.735275268554688, 24.736373901367188, ...,
         24.846336364746094, 24.846635818481445, 24.84751319885254],
        [24.73528480529785, 24.734500885009766, 24.734792709350586, ...,
         24.800596237182617, 24.799423217773438, 24.798845291137695],
        [24.73530387878418, 24.733631134033203, 24.733139038085938, ...,
         24.851327896118164, 24.8526611328125, 24.854524612426758]],
  mask=[[ True, False, False, ..., False, False, False],
        [ True, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False],
        ...,
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False],
        [False, False, False, ..., False, False, False]],
  fill_value=1e+20,
  dtype=float32)

In [37]:
a

masked_array(
  data=[[24.735289, 24.735617, 24.73707 , ..., 24.861162, 24.861761,
         24.86279 ],
        [24.735289, 24.733362, 24.732582, ..., 24.816586, 24.816639,
         24.81734 ],
        [24.735306, 24.737488, 24.739895, ..., 24.861301, 24.862146,
         24.863653],
        ...,
        [24.735304, 24.735275, 24.736374, ..., 24.846336, 24.846636,
         24.847513],
        [24.735285, 24.7345  , 24.734793, ..., 24.800596, 24.799423,
         24.798845],
        [24.735304, 24.733631, 24.733139, ..., 24.851328, 24.852661,
         24.854525]],
  mask=False,
  fill_value=1e+20,
  dtype=float32)